.button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    border: 1px solid transparent;
    &.bg-white {
        background-color: $white;
        color: $blue;
        border-color: $white;
        &:hover {
            color: $white;
            background-color: $blue;
        }
    }
    &.bg-blue {
        font-weight: 700;
        color: $white;
        border-color: $blue;
        background-color: $blue;
        &:hover {
            background-color: $dark-b;
        }
    }
}