//colors
$blue: #155BD5;
$hover-b: #2C6BD9;
$dark-b: #1c3ab6;
$main-bg: #F5F5F5;
$title-c: #1D1D1D;
$text-c: #7B8889;
$grey-c: #6D6D6D;
$white: #fff;
$border-c: #e0e0e0;
$brand-h: #E2F1FF;

// family
$family: 'Inter', sans-serif;